body {
    background-color: #00b0ff;
}

.tweetTotal {
  border: 3px solid #949599;
  height: 100px;
  margin: 20px;
  padding: 20px;
  width: 600px;
  white-space: pre;
  position: relative;
}

section {
	background-color: #00b0ff;
	color: white;
}

#user {
	font-size: 16;
}

.userTimeline {
	
}

#timeStamp{
	color: black;
}

.tweetTotal{

}

header{
	background-color: #00b0ff;
	text-align: center;
}

.pastTweets{
	width: 500px;
	height: 700px;
	margin: 20px;
  padding: 20px;
	border: 3px solid #949599;
  position: fixed;
  right: 10px;
  top: 60px;
  display: none;
}